* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    height: 100%;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: #f1f1f1;
}
/* navbar start */

.navbar-head {
    display: flex;
    /* justify-content: space-between; */
    flex: 1;
    align-items: center;
}

.navbar {
    position: fixed;
    padding: 0px 0px;
    background-color: white;
    z-index: 1;
    left: 0;
    top: 0px;
    width: 100%;
}
.navbar-brand{
    background-color:#f44336;
    padding: 10px 16px; 
    color: white;
    font-size: 16px;
    margin-right: 0;
}
.navbar-brand:hover{
    background-color:rgb(219, 217, 217);
    color: black;
}  
.hottel-logo{
    background-color: #f44336;;
}
.nav-right {
    flex: 1;
}
.nav-link.menu-item {
    padding: 8px 16px !important;
    font-size: 16px;
}
.nav-link.menu-item:hover{
    color: black !important;
}
.menu-item:hover {
    background-color: rgb(219, 217, 217);
}
.book-now{
    background-color:#f1f1f1!important;
}
.navbar-brand i{
    font-size: 14px;
}
/* navbar end */



.home-bg-image {
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://www.w3schools.com/w3images/hotel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
}
.map-image {
    max-width: 100%;
    height: auto;
}
.hero{
    background-color: #f1f1f1;
}
.hotel-name{
    background-color: #f44336!important;
}
.information{
    border-left: 6px solid #ccc;
    margin-top: 20px;
    background-color: #f44336!important;
    padding: 40px 0px;
}
.contact-button{
    border-radius: 0%;
}
.check-availability{
    margin: 250px 0px;
}
.hotel-name i{
    font-size:25px;
}
.hotel-name h2{
    font-weight: 400;
    font-size:25px;
}
.check-in-check-out-input p{
    margin-bottom:0 !important;
}
.contact-button:hover{
    background-color: rgb(199, 199, 199);
    border-color: rgb(199, 199, 199);;
    color: black;
}
.form-control{
    border-radius: 0%;
}
.subscribe-button{
    border-radius: 0%;
    padding: 3px;
    font-size: 15px;
    padding: 8px 16px;
}
.subscribe-button:hover{
    background-color: rgb(199, 199, 199);
    border-color: rgb(199, 199, 199);;
    color: black;
}
.send-message-btn{
    border-radius: 0%;
    font-size:15px;
}
.send-message-btn:hover{
    background-color: rgb(199, 199, 199);
    border-color: rgb(199, 199, 199);
    color: black;
}
.room-search:hover{
    background-color: rgb(199, 199, 199);
    color: black;
    
}
.search-availabilit-btn{
    background-color: #616161!important;
    border: none;
}
.search-availabilit-btn:hover{
    background-color:rgb(199, 199, 199) !important;
}

.search-availabilit-btn span{
    font-size:15px;
}
.search-button i{
    font-size: 14px; 
}
.search-availabilit-btn2 span{
    font-size: 15px; 
}
.search-availabilit-btn2:hover{
background-color: rgb(199, 199, 199) !important;
color: black;
}
.search-rooms h3{
    font-size: 20px;
    font-weight: 400;
}
.card-body h3{ 
    font-weight: 400;
    font-size: 25px;
}
.contact i{
    color: red;
}
.best-offers{
    opacity: 0.60;
}
.best-offers:hover{
    opacity: 1;
}
.contact i{
    font-size: 12px;
}
.contact h3{
    font-size: 30px;
    font-weight: 300;
}
.our-hotels h3{
    font-weight: 400;
    font-size: 20px;
}
.hotel-image-heading{
    position: relative;
}
.image-heading{
    position: absolute;
    bottom: 1px;
    left: 8px;
}
.contact-heading h2{
    font-weight: 400;
    font-size:25px;
}
.contact-details p{
    margin-bottom: 0;
    font-size:15px;
}
.social-media-icons a{
    color: white;
    text-decoration: none;
}
.information span.info-box{
    background-color: #ff5722!important;
    padding: 5px 14px;  
}
.information p{
    margin-bottom: 0; 
}
.information p span.info-heading{
    font-size: 16px;
}
